.page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.form > *:not(:last-child) {
  margin-right: 8px;
}